@CHARSET "UTF-8";

body,h1,h2,h3,h4,h5,h6,hr,div,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,h1,h2,h3,h4,h5,h6,span,p,input
	{
	margin: 0;
	padding: 0;
	font: 12px;
	font-weight: normal;
}

a {
	color: #406eba;
	outline: 0;
}

a:hover {
	color: #ee8c18
}