<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!--display-name 定义web应用的名字 -->
	<display-name>shiro-demo</display-name>
	<!--description 声明WEB应用的描述信息 -->
	<description>hello world</description>
	<!--context-param  元素声明应用范围内的初始化参数,在web应用启动是先执行context-param。 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
           classpath*:applicationContext-spring.xml
           classpath*:applicationContext-cases.xml
        </param-value>
	</context-param>
<!-- 	 classpath*:/applicationContext-shiro.xml -->
	<context-param>
		<param-name>spring.profiles.default</param-name>
		<param-value>production</param-value>
	</context-param>

	<!-- 防XSS攻击,Form加上<spring:htmlEscape defaultHtmlEscape="true" /> -->
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name/>
		<param-value/>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>
	<!--  编码过滤器-->
	<filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <!--只要设置了foreEncoding=true，则在代码中设置编码格式无用的-->
            <param-value>true</param-value>
        </init-param>
    </filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 安全过滤器 -->
	<filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- spring  Web MVC的集中访问点，而且负责职责的分派-->
    <servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 服务器一般为servlet提供一个缺省的URL：http://host/webAppPrefix/servlet/ServletName。 -->
	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!--会话的过期时间  -->
	<session-config>
        <session-timeout>30</session-timeout>
    </session-config>
	
	<!--tld配置-->
	<jsp-config>
        <!-- -->
        <!--<taglib>-->
            <!--<taglib-uri>http://www.javafans.org/security</taglib-uri>-->
            <!--<taglib-location>/WEB-INF/tld/security.tld</taglib-location>-->
        <!--</taglib>-->

        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>false</scripting-invalid>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.html</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>false</scripting-invalid>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.htm</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>false</scripting-invalid>
        </jsp-property-group>
    </jsp-config>
	
	<!--mime类型配置 Web应用具有想到特殊的文件，希望能保证给他们分配特定的MIME类型，则mime-mapping元素提供这种保证-->
	<mime-mapping>    
      <extension>htm</extension>    
      <mime-type>text/html</mime-type>    
   	</mime-mapping> 
	<!--首页配置 -->
	<welcome-file-list>    
      <welcome-file>index.jsp</welcome-file>    
      <welcome-file>index.html</welcome-file>    
      <welcome-file>index.htm</welcome-file>    
    </welcome-file-list>
	<!-- 错误页面配置 -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/views/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/404.jsp</location>
	</error-page>
	
	
</web-app>
