<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.github.kelylm.repository.SessionsDao">

	<resultMap id="resultMap" type="com.github.kelylm.entity.Sessions">
		<result property="id" column="id" />
		<result property="session" column="session" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		id,session
	</sql>

	<!-- 获取用户: 输出直接映射到对象 -->
	<select id="get" parameterType="Long" resultType="Sessions">
		SELECT
		<include refid="columns" />
		FROM sessions
		WHERE id=#{id}
	</select>


	<!-- 查询用户, 不分页 -->
	<select id="search" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM sessions
		<where>
			<if test="session != null and session != ''">
				AND session = #{session}
			</if>
		</where>
	</select>

	<!-- 分页查询 -->
	<select id="searchPage" resultMap="resultMap">
		SELECT
		<include refid="columns" />
		FROM sessions
		<where>
			<if test="searchFields.session != null and searchFields.session != ''">
				AND session = #{searchFields.session}
			</if>
		</where>
	</select>

	<!-- 新增 -->
	<insert id="insert" parameterType="Sessions" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO sessions (
		session
		) VALUES (
		#{session}
		)
	</insert>

	<!-- 更新 -->
	<update id="update">
		UPDATE sessions
		<set>
			session = #{session}
		</set>
		WHERE
		id = #{id}
	</update>

	<!-- 删除用户 -->
	<delete id="delete" parameterType="Long">
		DELETE FROM sessions WHERE id=#{id}
	</delete>
</mapper> 
